.bar{
	overflow:hidden;
	width:auto;
	border:none;
	display:block;
	width: 100%;
	background-color: rgb(255,255,255);
}

.button{
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
	color: rgb(169, 169, 169);
    background-color: inherit;
	text-align:center;
	margin-left: 30px;
	line-height: 3rem;
	font-size: 1rem;
	letter-spacing: 1px;
	padding-top: 0.21rem;
}

.right{float:right!important}

.bar-block .bar-item{
	width:100%;
	margin: 0;
	display:block;
/*	padding-left: 25px;*/
	text-align:center;
	line-height: 3rem;
	float:none;
	font-size: 1.3rem;
}

.bar-block .bar-item:hover{
	color: #7078cc;
}

.bar-block{
/*	vertical-align: middle;*/
	padding-top: 0.5rem;
	padding:35vh 0;
}

/*@media (min-width:601px){
	.bar-block .bar-item{padding-left: 30px;}
}*/

.bar-block a:not(:first-child){
	/*border-top: 1px solid #fff;*/
}

.hide{
    visibility: hidden !important;
    transform: translateY(0%);
    opacity: 0
}

.show{
    transform: translateY(0%);
    transition:all 0.3s linear;
    opacity: 1;
    visibility: visible;
}

/*@media (max-width:600px){
	.hide-small{display:none!important}}*/

@media (max-width:992px){
	.hide-small{display:none!important}}

@media (min-width:993px){.hide-large{display:none!important}}

/*@media (max-width:992px) and (min-width:601px){.hide-medium{display:none!important}}*/


/*.card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}*/

.card{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.animate-top{position:relative;top:0;}

/*.animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
*/
.white,.hover-white:hover{color:#000!important;background-color:#fff!important}

.right {
    float: right!important;
}

.graybutton{
	background-color: #fff;
	height: 100vh;
}