html, body{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust:100%;
	font-family:'Open Sans',sans-serif,Microsoft JhengHei;
	font-size:16px;
}

/*page fade*/

body {
    opacity: 1;
    transition: 1s opacity;
    -webkit-transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

h1,h2,h3,h4,h5,h6{
	font-family:"Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif,Microsoft JhengHei;
	line-height:normal;
	letter-spacing: 0.2px;
}

img{
	border-style:none;
	vertical-align:middle;
}

/*.row-padding .col.l4{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}*//*加邊框不增寬度*/

* {
    box-sizing: border-box;
}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

a{
	text-decoration: none;
	cursor: pointer;
	color: rgb(169, 169, 169);
}

a:hover{
	color: #70CCCC;
}

body{margin:0}

article,aside,details,figcaption,figure,
footer,header,main,menu,nav,section,summary{display:block}

@media(max-width: 600px){
	main{
		margin-top: 30px;}}

/*name*/

.name{
	margin: 0;
	display:inline-block;
	margin-top: 0.9rem;
	color: #444;
	font-weight: 400;
	letter-spacing: 2px;
	font-size:1.2rem;
	font-family:'Open Sans',sans-serif;
}

.name:hover{color: #70CCCC;}

@media(max-width: 600px){
	.name{margin-left: 24px;}

	.toggle{
		margin-right: 23px;}
}

@media(max-width: 992px){
	.toggle{font-size: 1.3rem;}}

.col a{
	color: #444;
}

.col a:hover{
	color: #70CCCC;
}

.desc, .desc a{
  color: rgb(169, 169, 169);
}

.date{
	color: rgb(169, 169, 169);
}

.link{
	color: #70CCCC;
}

.link:hover{
	color: rgb(169, 169, 169);
}

/*bgimg*/

.bgimg1, .bgimg2, .bgimg3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg1 {
    opacity: .8;
    min-height: 100vh;
    background-color: #70CCCC;
}