@import url(css/base.css);
@import url(css/content.css);
@import url(css/nav.css);
@import url(css/portfolio.css);

/* Noto Serif TC*/

@font-face{
	font-family:'Noto Serif TC';
	src:url('fonts/NotoSerif/NotoSerifCJKtc-SemiBold.woff') format("woff"),
	url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap');
	font-weight:600;
	font-style:normal;
}

@font-face{
	font-family:'Noto Serif TC';
	src:url('fonts/NotoSerif/NotoSerifCJKtc-Regular.woff') format("woff"),
	url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400&display=swap');
	font-weight:400;
	font-style:normal;
}
