/*css document*/
/*@import url("css/reset.css");*/
@import url("css/base.css");
@import url("css/content.css");
@import url("css/nav.css");
@import url("css/portfolio.css");

/* Noto Serif TC*/

@font-face{
	font-family:'Noto Serif TC';
	src:url('fonts/NotoSerif/NotoSerifCJKtc-SemiBold.woff') format("woff"),
	url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap');
	font-weight:600;
	font-style:normal;
}

@font-face{
	font-family:'Noto Serif TC';
	src:url('fonts/NotoSerif/NotoSerifCJKtc-Regular.woff') format("woff"),
	url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400&display=swap');
	font-weight:400;
	font-style:normal;
}
/*
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}*/

html {
	scroll-behavior: smooth;
}

html, body{
	font-family: 'Noto Serif TC', serif;

	--color-text: #444;
	--color-link: #7078cc;
	--color-link-hover: #AAA;
	--color-bg-item1: #EEE;
	--color-bg-item2: rgba(238, 238, 238, .4);
}

::selection {
	background-color: #EEE;
	text-shadown: none;
}

::-moz-selection {
	background-color: #EEE;
	text-shadown: none;
}

